# Random Forest Classification

Bu kursumuzda Random Forestler ile Sınıflandırma Yapmayı Öğreneceğiz

İlk olarak verilerimizi yüklüyoruz ve kütüphaneleirmizi import ediyoruz.

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier


df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N


scikit-learn kütüphanesi random forestin düzgün çalışması için herşeyin rakamlsal olmasını bekliyor bu nedenle veri setimizdeki tüm Y ve N değerlerini 0 ve 1 olarak düzeltiyoruz. Aynı sebeple eğitim seviyesini de BS:0 MS:1 ve PhD:2 olarak güncelliyoruz. map() kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulacaktır, buna şuandaki veri setimizde ihtiyacıkız yok ama sizin ilerde yoğun veri ile çalıştığınız zaman ihtiyacınız olacaktır.

In [3]:
duzetme_mapping = {'Y': 1, 'N': 0}

df['IseAlindi'] = df['IseAlindi'].map(duzetme_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzetme_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzetme_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzetme_mapping)

duzetme_mapping_egitim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzetme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

Sonuc sütununu ayırıyoruz:

In [4]:

y = df['IseAlindi']
X = df.drop(['IseAlindi'], axis=1)

In [5]:
X.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

#### Random Forest oluşturuyoruz:

200 tane decision tree birleşiminden oluşan bir Random Forest kullanarak tahmin yapacağız:

In [6]:
rnd_fr_clf = RandomForestClassifier(n_estimators=200, random_state = 10)    # n_estimators : Forest içindeki tree sayısı
rnd_fr_clf = rnd_fr_clf.fit(X, y)

In [7]:

# Prediction yapalım şimdi
# 5 yıl deneyimli, hazlihazırda bir yerde çalışan ve 3 eski şirkette çalışmış olan, eğitim seviyesi Lisans
# top-tier-school mezunu değil
print (rnd_fr_clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

In [8]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor
print (rnd_fr_clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

In [9]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu değil şuan çalışıyor
print (rnd_fr_clf.predict([[2, 1, 7, 0, 0, 0]]))

[1]

In [10]:
# Toplam 20 yıllık iş deneyimi, 5 kez iş değiştirmiş iyi bir okul mezunu şuan çalışmıyor
print (rnd_fr_clf.predict([[20, 0, 5, 1, 1, 1]]))

[1]